.subheading {
  font-size: 14px;
  font-weight: 700;
  font-family: Lato, sans-serif;
  color: #292929;
}

.caption {
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-size: 9px;
  color: #6e6e6e;
}

img.farmer-profile {
  width: 56px;
  height: 56px;
  border-radius: 4px;
}

img.farmer-farm {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.post-caption {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #292929;
}

.farmer-badge {
  padding: 4px 8px;
  background-color: #69984c;
  color: white;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 12px;
  border-radius: 25px;
}

.product-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  border: 0;
}

.product-card img {
  object-fit: contain;
  height: 62px;
  width: 62px;
}

.brand-header {
  background-color: #3f3f3f;
  padding: 16px 32px;
}

.brand-header img {
  width: 100%;
}
